@charset "UTF-8";

.button {
	height: 100px;
	width: 100px;
	margin: 30px;
}

.select {
	margin-top: 20px;
	margin-right: 16px;
	margin-left: 22px;
	transform: scale(2.0);
}

#main {
	font-size: 30px;
}

.error {
	font-size: 20px;
	color: red;
}

.finsh {
	font-size: 50px;
}

.line {
	display: flex;
}

.finish {
	color: red;
}